.buttonContainer {
  padding: 20px 0px 2px 0px;
  text-align: center;
}

.button {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 240px;
  color: white;
  border-radius: 2px;
  background-color: #333;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #333;
}

.text {
  font-family: helvetica;
  font-size: 14px;
  border: solid 1px #333;
  border-radius: 2px;
  letter-spacing: 1.5px;
  font-weight: bold;
  padding: 15px 0px 15px 0px;
  user-select: none;
}